/*PALETA DE CORES: #111113
#b1e6d1  #77b1a9  #3d7b80
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Dongle', sans-serif;
    background-color: #e0e0d7;
}

header div{
    background-color: #000000 ;
    box-shadow: 0px 2px 30px #270021;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    size: 5%;
    font-size: 16px;
    align-items: center;
}

header div p{
    font-size: 40px;
    color: #cf9bcc;
    
}

header img{
    width: 150px;
    margin-right: 30px;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #700474;
    height: 48px;
}

header nav a{
    text-decoration: none;
    margin: 0px 10px;
    font-weight: bold;
    color: #75006f;
    font-size: 27px;
    font-weight: bold;
}

header nav a:hover{
    color: #ffffff;
    text-decoration: underline;
    background-color: #75006f;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
    color: #75006f;
    font-size: 20px;
}

footer img{
    margin-right: 30px;
    margin-left: 30px;
    width: 50px;
    height: auto;
}

.propaganda {
    width: 220px;
    background-color: #d3d3d3;
    padding: 10px;
    margin-left: 20px;
    position: relative;
}
  
.propaganda img {
    width: 100%;
    margin-bottom: 10px;
}

.propaganda p {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
    color: #000000;
}

.propaganda::after {
    content: '';
    display: block;
    height: 100%; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    opacity: 0;
    color: #000000;
}

.propaganda:hover::after {
    opacity: 1; 
    background-color: rgba(0, 0, 0, 0.5);
}


.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card strong{
    font-size: var(--font-size-md);
    margin: 10px;
}

.card button{
    border: 0;
    width: 100px;
    padding: 5px;
    margin-top: 5px;
    font-size: var(--font-size-small);
    color: #fff;
    background-color: var(--bg-button);
    cursor: pointer;
}

.card  button:hover{
    background-color: #4cd62a;
    transition: 0.4s;
}

/* Estilo para o container principal */
.container {
    display: flex; /* Transforma o container em um flex container */
}
  
  /* Estilo para o conteúdo da página */
.content {
    flex: 1; /* Faz o conteúdo ocupar o espaço restante do container */
    /* Estilo do conteúdo da página */
}







/* ESTILOS PÁGINA DE CADASTRO */
.cadastro {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    color: #3d7b80;
}

.cadform{
    flex: 1;
}

form {
    gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="tel"]{
    width: 90%;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

select{
    width: 50%;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

.botcad {
    background-color: #3d7b80;
    color: #fff;
    cursor: pointer;
    width: 50%;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    font-size: larger;
}

.botcad:hover {
    background-color: #fff;
    color: #3d7b80;
    cursor: pointer;
    width: 50%;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}
